<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>LandingPage</title>
</head>

<body>

  <div class="imp" style="text-align:center">
    <h5>SPEND LESS TIME MANAGING AND MORE TIME MAKING.</h5>
    <h5>We will simplify every aspect of building a beautiful branded website.
      <br>so you can share your work easily and get back to making what you love.</h5>
    <a [routerLink]="['GetStarted']" class="btn btn-primary">Get Started</a>
  </div>

  <!-- <router-outlet></router-outlet> -->

</body>

</html>